.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/*.App-link {*/
  /*color: #61dafb;*/
/*}*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.slides{
  height:50%;
  background-repeat: no-repeat;
  width:100vw;
  background-size: 50px 50px;
}

*,div,body,header,h2, h4,div h2{
  font-family: "B Yekan", serif;
  /*font-family: "Lato Black", serif;*/
}
body{
  background-color:#ffffff;
}
*{
  text-align: right;
}
